# Compiled class file
*.class
**.classpath
**.project
**.settings
**.factorypath
**/bin
*.bak
**/target
/src/generated/*

# Log file
*.log

# Package Files #
*.war
*.ear
*.tar.gz
*.rar

# IntelliJ
out/
.idea
auto-import.
*.iml
*.ipr

# Gradle
.gradle/
build/

# npm
node_modules

# MacOS
.DS_Store
