# Compiled class file
opa_10_12_transform/.classpath
*.class
**.classpath
**.project
**.settings
**.factorypath
*.bak
**/target
/src/generated/*

# Log file
*.log


# Package Files #
*.war
*.ear
*.tar.gz
*.rar
