version: 2.1

jobs:
  build:
    machine:
      image: ubuntu-2204:current
    steps:
      - run:
          name: Build placeholder
          command: echo "Pipeline has been replaced in git actions"