name: Publish image to MP

on:
  push:
    tags:
      - '*'

permissions:
  contents: read

jobs:
  assemble:
    uses: ministryofjustice/laa-ccms-common-workflows/.github/workflows/gradle-build-and-publish.yml@v1
    permissions:
      contents: write
      packages: write
    with:
      java_version: '8'
      build_command: 'assemble'
      publish_package: 'false'
      junit_results: 'false'
      junit_report: 'false'
      checkstyle_report: 'false'
      jacoco_coverage_report: 'false'
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}

  ecr-publish-image:
    needs: [ assemble ]
    uses: ministryofjustice/laa-ccms-common-workflows/.github/workflows/ecr-publish-image.yml@feature/support-ecr-in-another-repository
    permissions:
      contents: read
      id-token: write
    with:
      java_version: '8'
      image_version: ${{ needs.build-and-publish-snapshot.outputs.published_artifact_version }}
    secrets:
      gh_token: ${{ secrets.GITHUB_TOKEN }}
      ecr_repository: ${{ vars.ECR_REPOSITORY_MP }}
      ecr_region: ${{ vars.ECR_REGION_MP }}
      ecr_role_to_assume: ${{ secrets.ECR_ROLE_TO_ASSUME_MP }}
      ecr_registry: ${{ secrets.ECR_REGISTRY_MP }}
